{% extends "base.html" %}
{% block title %} Modificar Usuario{% endblock %}
{% block titulo %} Modificar Usuario{% endblock %}
{% block cuerpo %}
<center><strong><font face="Comic Sans MS"><h3> MODIFICAR USUARIO "{{ usuario.username }}"</h3></font></strong></center><br>
{% if mod_usuario %}
<form action="." method="POST">
	{% csrf_token %}
	<center><table>
	{{ form.as_table }}
	</table><br><br>
	<button class="btn btn-primary" type="submit"> GUARDAR </button>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class= "btn btn-primary" value="CANCELAR" onClick = "location.href='/visualizar/ver&id={{usuario.id}}/' "/></center>
</form>
{% else %}
	<br><center><p><strong>NO POSEE PERMISOS</strong></p><center>
{% endif %}
{% endblock%}
