{% extends 'base.html' %}
{% block title %} Detalles Actividad{% endblock %}
{%block content %}
<center><strong><font face="Comic Sans MS"><h3> DETALLES DE LA ACTIVIDAD "{{ actividades.nombre }}" </h3></font></strong></center><br>
{% if ver_actividades or mod_actividad or eliminar_actividad %}
<form action="." method="POST">
         {% csrf_token %}
<table class="table table-bordered">
	      <thead>
	        <tr>
	             <th class="titulo"><b><strong><span style="color:#330099">NOMBRE</strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">DESCRIPCION</strong></b></th>
		     <th class="titulo"><b><strong><span style="color:#330099">FECHA Y HORA DE CREACION</strong></b></th>
		     <th class="titulo"><b><strong><span style="color:#330099">RESPONSABLE</strong></b></th>
	        </tr>
	      </thead>
              <tbody>
		 <tr>
		      
                          <td><strong>{{actividades.nombre}}</strong></td>
                          <td><strong>{{actividades.descripcion}}</strong></td>
		          <td><strong>{{actividades.fecHor_creacion}}</strong></td>
			  <td><strong>{{actividades.usuario_creador}}</strong></td>
	           </tr>
		</tbody>
	  </table>
   </form>

   <div class="footer">
           <div class="volver">
		<th class="titulo"><b><strong><span style="color:#330099">ACCIONES</strong></b></th><br>
		<td>
			{% if eliminar_actividad %}
                      <a class="btn btn-primary" href="/eliminarActividad/del&id={{actividades.id}}/"><strong>ELIMINAR</strong></a>
			{% endif %}
			{% if mod_actividad %}
				<a class="btn btn-primary" href="/modificarActividad/mod&id={{actividades.id}}/"><strong>MODIFICAR</strong></a>
					{% endif %}		
			   
			                            	
			   </td><br><br>
		<a class="btn btn-primary" href="/actividades"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
		
           </div>
     </div>
{% else %}
<center><strong><font face="Comic Sans MS">NO TIENES PERMISOS</font></strong></center><br>
{% endif %}
{% endblock %}
