{% extends "base.html" %}
{% block title %} Crea Flujo {% endblock %}
{% block content %}
<center><strong><font face="Comic Sans MS"><h3> CREAR NUEVO FLUJO </h3></font></strong></center><br>
{% if crear_flujo %}
<form action="." method="POST">
	{% csrf_token %}
	<center><table>
	{{ form.as_table }}
	</table><br><br>
	<button class="btn btn-primary" type="submit"> CREAR </button>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class= "btn btn-primary" value="CANCELAR" onClick = "location.href='/flujos' "/></center>
</form>
{% else %}
<center><strong><font face="Comic Sans MS">NO TIENES PERMISOS</font></strong></center>
{% endif%}
{% endblock%}
