{% extends "base.html" %}
{% block title %} Modificar Flujo{% endblock %}
{% block content %}
<center><strong><font face="Comic Sans MS"><h3> MODIFICAR FLUJO "{{ flujo.nombre }}"</h3></font></strong></center><br>
{% if mod_flujo %}
<form action="." method="POST">
	{% csrf_token %}
	<center><table>
	{{ form.as_table }}
	</table><br><br>
	<button class="btn btn-primary" type="submit"> GUARDAR </button>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class= "btn btn-primary" value="CANCELAR" onClick = "location.href='/verFlujo/ver&id={{flujo.id}}/' "/></center>
</form>
{% else%}
<center><strong><font face="Comic Sans MS">NO TIENES PERMISOS</font></strong></center><br>
{% endif%}
{% endblock%}

