{% extends "base.html" %}
{% block title %} Modificar Proyectos {% endblock %}
{% block titulo %} Modificar Proyectos {% endblock %}
{% block cuerpo %}
<center><strong><font face="Comic Sans MS"><h3> MODIFICAR PROYECTO "{{ proyecto.nombrelargo }}"</h3></font></strong></center><br>
{% if mod_proyecto %}
<form action="." method="POST">
	{% csrf_token %}
	<center><table>
	{{ form.as_table }}
	</table><br><br>
	<button class="btn btn-primary" type="submit"> GUARDAR </button>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class= "btn btn-primary" value="CANCELAR" onClick = "location.href='/verProyecto/ver&id={{proyecto.id}}/' "/></center>

</form>
{% else %}
   <center><p><strong>NO TIENES PERMISOS</strong></p></center>
{% endif %}
{% endblock%}

