{% extends 'base.html' %}
{% block title %} Tablero Kanban {% endblock %}
{% block titulo %} Tablero Kanban {% endblock %}
{% block cuerpo %}

<form action="." method="POST">
    {% csrf_token %}
    <table class="table table-bordered" cellpadding="1" cellspacing="1">
        <thead>
        <tr>
            <td bgcolor="blue"><strong><span style="color:#FFFFFF"><center>BACKLOG</center></span></strong></td>
            {%for sp in sprint%}
                <td bgcolor="blue"><strong><span style="color:#FFFFFF"><center>{{sp.nombre}}</center></span></strong></td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {%for key,value in dict.items%}
                {%for key1,value1 in value.items%}
                    {%for key2,value2 in value1.items%}
                        <tr>
                            {%for rec in value2%}
                                <td><a href="/verUserHistory/ver&id={{key2}}/"><font color="gray"><strong><em><u>{{rec}}</u></em></strong></font></a></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}

		</tbody>
    </table>
    <center><strong><font face="Comic Sans MS"><h3> TABLA KANBAN </h3></font></strong></center>
    <center><strong><font face="Comic Sans MS"><h3> "{{ flujo.nombre }}" DEL "{{proyecto.nombrelargo}}"</h3></font></strong></center><br>

    <table class="table table-bordered" cellpadding="1" cellspacing="1">
                <td colspan="1" rowspan="2" bgcolor="blue"><center><strong><span style="color:#FFFFFF">BACKLOG</span></strong></center></td>
                {%for f in actividades%}
                 <td colspan="3" bgcolor="blue"><center><strong><span style="color:#FFFFFF">{{f.actividad.nombre}}</span></strong></center></td>
                {% endfor %}
           </tr>
           <tr>
              {%for f in actividades%}
                 <td bgcolor="red"><strong><center>TO DO</center></strong></td>
                 <td bgcolor="yellow"><strong><center>DOING</center></strong></td>
                 <td bgcolor="chartreuse"><strong><center>DONE</center></strong></td>
              {% endfor %}
           </tr>


            {%for key,uss in dictKanban.items%}
                {%for key2,listanombre in uss.items%}
                    <tr>
                        {%for rec in listanombre%}
                            <td><a href="/verUserHistory/ver&id={{key2}}/"><font color="gray"><strong><em><u>{{rec}}</u></em></strong></font></a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}

    </table>

</form>

   <div class="footer">
           <div class="volver">
               <a class="btn btn-primary" href="/verProyecto/ver&id={{proyecto.id}}"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
           </div>
     </div>

{% endblock %}
