{% extends 'base.html' %}
{% block title %} Detalles Rol{% endblock %}
{%block content %}
{%ifequal roles.categoria 1 %}
<center><strong><font face="Comic Sans MS"><h3> DETALLES DEL ROL DEL SISTEMA "{{ roles.nombre }}" </h3></font></strong></center><br>
{% else %}
<center><strong><font face="Comic Sans MS"><h3> DETALLES DEL ROL DE PROYECTO "{{ roles.nombre }}" </h3></font></strong></center><br>
{% endifequal %}
{% if ver_rol or crear_rol or mod_rol or eliminar_rol or asignar_rol%}
<form action="." method="POST">
         {% csrf_token %}
<table class="table table-bordered">
	      <thead>
	        <tr>
	             <th class="titulo"><b><strong><span style="color:#330099">NOMBRE</strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">DESCRIPCION</strong></b></th>
		     <th class="titulo"><b><strong><span style="color:#330099">FECHA Y HORA DE CREACION</strong></b></th>
		     <th class="titulo"><b><strong><span style="color:#330099">RESPONSABLE</strong></b></th>
	        </tr>
	      </thead>
              <tbody>
		 <tr>
		      
                          <td><strong>{{roles.nombre}}</strong></td>
                          <td><strong>{{roles.descripcion}}</strong></td>
		          <td><strong>{{roles.fecHor_creacion}}</strong></td>
			  <td><strong>{{roles.usuario_creador}}</strong></td>
	           </tr>
		</tbody>
	  </table>
   </form>

   <div class="footer">
           <div class="volver">
		<th class="titulo"><b><strong><span style="color:#330099">ACCIONES</strong></b></th><br>
		{% ifequal roles.id 1 %}
		          <td><strong>Rol con todos los permisos</strong></td>
		       {% else %}

		<td>
			{% if eliminar_rol %}
                      <a class="btn btn-primary" href="/eliminarRol/del&id={{roles.id}}/"><strong>ELIMINAR</strong></a>
			{% endif %}			
			{% if mod_rol %}
				<a class="btn btn-primary" href="/modificarRol/mod&id={{roles.id}}/"><strong>MODIFICAR</strong></a>
			{% endif %}
			{% if asignar_rol%}				
			<a class="btn btn-primary" href="/roles/permisos&id={{roles.id}}/"><strong>ASIGNAR PERMISOS</strong></a>   
			{% endif %}                            	
			   </td>
		       {% endifequal %}

		{%ifequal roles.categoria 1 %}
                <br><br><a class="btn btn-primary" href="/rolesSist"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
		{%else %}
		<br><br><a class="btn btn-primary" href="/rolesProy"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
		{%endifequal %}
           </div>
     </div>
{% else %}
	<center><p><strong>NO TINES PERMISOS</strong></p></center>
{% endif %}
{% endblock %}
