<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title%}Inicio{% endblock %}</title>
<meta name="keywords" content="VOIP Company, css template, free web design layout" />
<meta name="description" content="VOIP Company, css template, free web design layout from TemplateMo.com" />
<link href="{% static 'menu/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'menu/tabcontent.css' %}" />
<script type="text/javascript" src="{% static 'menu/tabcontent.js' %}">
/***********************************************
* Tab Content script v2.2- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
</script>

</head>
<div id="templatemo_wrapper">

<div id="templatemo_container">
            <strong><a class="brand" href= '/'><span style="color:#FFFFFF"></span> Inicio </a></strong>
                    {% if user.is_authenticated %}
		             <p class="navbar-text pull-right">
		                <strong>Se ha registrado como, "{{ user.username }}" |
		                    <a href='/logout'><span style="color:#FFFFFF">Cerrar </span></a> |
                            <a href='/cambiarcontrasena'><span style="color:#FFFFFF">Modificar Contraseña</span></a> |
                        </strong>


     <!--<li><a href="/"><strong><span style="color:#FFFFFF"></span>Inicio</strong>&nbsp;&nbsp;</a></li>
	  Free CSS Template is provided by www.TemplateMo.com  -->
    <div id="templatemo_menu">

        <div id="pettabs" class="indentmenu">
            <ul>

                  <li><a href='/admin' rel="tab1">Administrar Usuario</a></li>
                  <li><a href='/roles' rel="tab2">Administrar Roles</a></li>
                  <li><a href='/flujos' rel="tab3">Administrar Flujo</a></li>
                  <li><a href='/actividades' rel="tab4">Administrar Actividades</a></li>
                  <li><a href='/proyectos' rel="tab5" style="border-right: none;">Administrar Proyectos</a></li>
                  <!--<li><a href='/sprint' rel="tab6" style="border-right: none;"> Administrar Sprint </a></li>-->
            </ul>
        </div>
        <div class="tabcontentstyle">
            {% block titulo %}
                <div id="tab1" class="tabcontent">
                    Bienvenido al Gestor de Proyectos
                </div>
            {% endblock titulo %}

            <div id="tab2" class="tabcontent">
            	<ul>
                    <li><a href="#">Crear Usuario</a></li>
                    <li><a href="#">Listar Usuarios</a></li>
                </ul>
            </div>

            <div id="tab3" class="tabcontent">
            	<ul>
                </ul>
            </div>

            <div id="tab4" class="tabcontent">
            	<ul>
                    <li><a href="#">Cerrar Sesion</a></li>
                    <li><a href="#">Cambiar Contraseña</a></li>
                </ul>
            </div>

        </div>
<script type="text/javascript">

        var mypets=new ddtabcontent("pettabs")
        mypets.setpersist(true)
        mypets.setselectedClassTarget("link")
        mypets.init(false)
</script>

    </div> <!-- end of menu -->
    <div>
        <img src="{% static 'menu/images/templatemo_banner_bg.jpg' %}" alt="image"/>
    </div>
    {% else %}
	                <p class="navbar-text pull-right">
		                <strong><a href='/login'><span style="color:#FFFFFF">Iniciar</span></a></strong>
		            </p>
		            {% endif %}
                         </ul>
    {% block cuerpo %}
	<div id="templatemo_content">
    	<div id="content_top"></div>
<!--

        &lt;!&ndash;<div class="templatemo_content_section_01">
        	<div class="section_01_left">
                {% if user.is_authenticated %}
                    <h1>Bienvenido, {{ user.username }} a Gestion Proyecto.</h1>
                {% else %}
                    <h1>Debe iniciar sesión para usar Gestion Proyecto</h1>
                {% endif %}
          	  <img src="{% static 'menu/images/templatemo_image_01.jpg' %}" alt="image"/>
			</div>&ndash;&gt;

            <div class="section_01_right">
            </div>

            <div class="cleaner">&nbsp;</div>
		</div>

        <div class="templatemo_content_section_02">

            <div class="section_02_subsection">
                <ul>
                </ul>
            </div>


            <div class="section_02_subsection">
                <ul>
                </ul>
            </div>
-->

 			<div class="section_02_subsection" style="border-right: none;">
                <div style="clear: both; margin-top: 30px;">

				</div>
            </div>

            <div class="cleaner">&nbsp;</div>
		</div>
    </div>
    {% endblock cuerpo %}

    <div id="templatemo_footer">

        	<!--<p>Copyright © 2015 <a href="  "><strong>SIGESPRO</strong></a></p>-->
            <footer><span style="">
        <strong><P ALIGN=right>&copy;Copyright- SIGESPRO-2015. Versión Django:{{django_version}}</P></strong>
        </span></footer>
	</div>  <!-- end of footer

	<!--  Free CSS Templates from www.TemplateMo.com  -->
</div>
</div>
</body>
</html>