<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>SGPA</title>
    <!-- Le styles -->
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
     <link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/jquery.form.min.js"></script>
    <script src="/media/js/SGPA.js"></script>
    <script src="/media/bootstrap/js/bootstrap.js"></script>
    <link href="/media/calendario_dw/calendario_dw-estilos.css" type="text/css" rel="STYLESHEET">
    <script type="text/javascript" src="/media/calendario_dw/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/media/calendario_dw/calendario_dw.js"></script> 
    <script type="text/javascript">
       $(document).ready(function(){
       $(".campofecha").calendarioDW();
       })
</script> 
    <style type="text/css">
      body {
	background-color: #330099;
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	    <p class="navbar-text pull-left">
            <div class="container-fluid">
                <strong><a class="brand" href= '/'><span style="color:#FFFFFF"></span> Inicio </a></strong>
                    {% if user.is_authenticated %}
		             <p class="navbar-text pull-right">
		                <strong>Usted ha ingresado como, "{{ user.username }}" |
		                    <a href='/logout'><span style="color:#FFFFFF">Cerrar </span></a> |
			                <a href='/cambiarcontrasena'><span style="color:#FFFFFF">Cambiar Contraseña</span></a> |</strong>
		            </p>
                     <ul class="nav">

                        <li><a href='/admin'><span style="color:#FFFFFF">Administración de Usuarios</span></a></li>

                        <li><a href='/roles'><span style="color:#FFFFFF">Administracion de Roles</span></a></li>

                         <li><a href='/proyectos'><span style="color:#FFFFFF">Administracion de Proyectos</span></a></li>

                         <li><a href='/flujos'><span style="color:#FFFFFF">Administracion de Flujos</span></a></li>

                        <li><a href='/actividades'><span style="color:#FFFFFF">Administracion de Actividades</span></a></li>

		            {% else %}
	                <p class="navbar-text pull-right">
		                <strong><a href='/login'><span style="color:#FFFFFF">Iniciar</span></a></strong>
		            </p>
		            {% endif %}
                         </ul>
      </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span13">
          <div class="hero-unit">
            {% block content %}
            {% endblock%}
          </div>
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer><span style="color:#FFFFFF">
        <strong><P ALIGN=right>&copy; SGPA - 2015. Versión Django: {{django_version}}</P></strong>
      </span></footer>
    </div><!--/.fluid-container-->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
