{% extends "base.html" %}
{% block title %} Crear User History {% endblock %}
{% block titulo %} Crear User History {% endblock %}
{% block cuerpo %}
<center><strong><font face="Comic Sans MS"><h3> CREAR USER HISTORY </h3></font></strong></center><br>
{% if crear_user_history %}
<form action="." method="POST">
	{% csrf_token %}
	<center><table>
	{{ form.as_table }}
	</table><br><br>
	<button class="btn btn-primary" type="submit"> CREAR </button>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class= "btn btn-primary" value="CANCELAR" onClick = "location.href='/userHistory/proyecto&id={{proyecto.id}}/' "/></center>
</form>
{% else %}
<center><strong><font face="Comic Sans MS">NO TIENES PERMISOS</font></strong></center>
{% endif%}
{% endblock%}
