{% extends "base.html" %}
{% block title %} Log de User History {% endblock %}
{% block titulo %} Log de User History {% endblock %}
{% block cuerpo %}
<center><strong><font face="Comic Sans MS"><h3> HISTORIAL DEL USER HISTORY "{{ userHist.nombre }}" DEL PROYECTO "{{ proyecto.nombrelargo }}"</h3></font></strong></center>
<center><strong><font face="Comic Sans MS"><span style="color:#6666FF"><h3> HISTORIAL</h3></font></strong></center><br>
{% if ver_log_userhistory %}
<form action="." method="POST">
		<table class="table table-bordered">
	      <thead>
	        <tr>
		    <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">DESCRIPCION</center></font></strong></b></th>
		    <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">USUARIO</center></font></strong></b></th>
		    <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">SPRINT</center></font></strong></b></th>
		    <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">FLUJO</center></font></strong></b></th>
		    <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">ESTADO</center></font></strong></b></th>
		    <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">ACTIVIDAD KANBAN</center></font></strong></b></th>
		    <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">ESTADO KANBAN</center></font></strong></b></th>
		    <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">FECHA DE LOG</center></font></strong></b></th>
	        </tr>
	      </thead>
              <tbody>
              {%for log in historial%}
                <tr>
                    <td><strong><span style="color:#111111">{{log.descripcion}}</span></strong></td>
                    <td><strong><span style="color:#111111">{{log.usuario}}</span></strong></td>
                    {% if log.sprint %}
                        <td><strong><span style="color:#111111">{{log.sprint}}</span></strong></td>
                    {% else %}
                        <td><strong><span style="color:#111111">{{" "}}</span></strong></td>
                    {% endif %}
                    {% if log.flujo %}
                        <td><strong><span style="color:#111111">{{log.flujo}}</span></strong></td>
                    {% else %}
                        <td><strong><span style="color:#111111">{{" "}}</span></strong></td>
                    {% endif %}
                    <td><strong><span style="color:#111111">{{log.estado}}</span></strong></td>
                    {% if log.actividad %}
                        <td><strong><span style="color:#111111">{{log.actividad}}</span></strong></td>
                    {% else %}
                        <td><strong><span style="color:#111111">{{" "}}</span></strong></td>
                    {% endif %}
                    {% if log.estadokanban %}
                        <td><strong><span style="color:#111111">{{log.estadokanban}}</span></strong></td>
                    {% else %}
                        <td><strong><span style="color:#111111">{{" "}}</span></strong></td>
                    {% endif %}
                    <td><strong><span style="color:#111111">{{log.fecHor_creacion}}</span></strong></td>
                </tr>
              {% endfor %}
            </tbody>
	  </table>
   </form>


      <div class="footer">
           <div class="volver">
               <a class="btn btn-primary" href="/userHistory/proyecto&id={{userHist.proyecto.id}}/"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
	</div>
     </div>
{% else %}
	<center><strong><font face="Comic Sans MS"> NO TIENES PERMISOS</font></strong></center><br> 
{% endif %}
{% endblock%}
