{% extends 'base.html' %}
{% block title %} Inicio - Bienvenidos {% endblock %}
{% block titulo %} Inicio - Bienvenidos {% endblock %}
{% block cuerpo %}
<center>
{%if user.is_authenticated %}
	<font face="Comic Sans MS"><p>Bienvenido Usuario<strong>"{{ user }}"</strong></p></font><br>
        <img src="{{get_image_profile}}" width="50px" heigth="50px"/>
{% endif %}
</center>
<center>
<font face="Comic Sans MS"><strong>SISTEMA GERENCIADOR DE PROYECTOS AGILES</strong></font>
</center>
{% endblock %}
